@model IEnumerable<DAL.Workout>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model) {

    <b>@item.Name</b>
    <div>
        @foreach (var e in item.WorkoutExercises)
         {
             <p>@String.Format("{0}, Sets: {1}, Reps: {2}", e.Exercise.Name, e.Sets, e.Reps)</p>
         }
    </div>
}
