@model WebApplication.Models.ChartData
@{
    ViewBag.Title = "Chart";
}

<h2>Chart</h2>

@{
    var chart = new Chart(width: 600, height: 400)
        .AddTitle("Records")
        .AddSeries(
            name: @Model.seriesName,
            xValue: @Model.xValues,
            yValues: @Model.yValues,
            chartType: "Spline"
        )
        .Write();
    
}