@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Supreme-lift</h1>
    <p class="lead">It is an app that helps you to create workout plans, track your progress (how much weight lifted and how many calories you burned) and compute everything you need at gym.</p>
    <p><a href="https://github.com/jacor1996/supreme-lift" class="btn btn-primary btn-lg">Get source code</a></p>
</div>
