
@{
    ViewBag.Title = "Index";
}

<h2>Select exercise to see table with data</h2>

<div>
    <p>
        @Html.ActionLink("Squat", "Squat", null, new { @class = "btn btn-primary btn-md" })
    </p>
    
    <p>
        @Html.ActionLink("Deadlift", "Deadlift", null, new { @class = "btn btn-danger btn-md" })
    </p>
    
    <p>
        @Html.ActionLink("Bench press", "Bench", null, new { @class = "btn btn-primary btn-md" })
    </p>
    
    <p>
        @Html.ActionLink("Overhead press", "Press", null, new { @class = "btn btn-danger btn-md" })
    </p>
</div>