
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="list-group" style="width: 50%">
        <li class="list-group-item">
            @Html.ActionLink("Squat", "Squat")
        </li>
        <li class="list-group-item">
            @Html.ActionLink("Deadlift", "Deadlift")
        </li>
        <li class="list-group-item">
            @Html.ActionLink("Bench press", "Bench")
        </li>
        <li class="list-group-item">
            @Html.ActionLink("Overhead press", "Press")
        </li>
</div>