
@{
    ViewBag.Title = "Press";
}

<h2 align="center">Press</h2>

<div class="container">
    <center><table cellspacing="0" cellpadding="2" border="1">        <tbody><tr>          <td>          <center><i>Kilograms</i></center></td>          <td colspan="5">          <center><strong>Adult Men</strong></center></td>        </tr>        <tr>          <th width="20%" bgcolor="#d9d9ff">          Body Weight</th>           <th width="16%" bgcolor="#d9d9ff">          Untrained</th>           <th width="16%" bgcolor="#d9d9ff">          Novice</th>           <th width="16%" bgcolor="#d9d9ff">          Intermediate</th>           <th width="16%" bgcolor="#d9d9ff">          Advanced</th>           <th width="16%" bgcolor="#d9d9ff">          Elite</th>         </tr>        <tr>          <td align="CENTER">          52</td>           <td align="CENTER">          22.5</td>           <td align="CENTER">          32.5</td>           <td align="CENTER">          40.0</td>           <td align="CENTER">          50.0</td>           <td align="CENTER">          60.0</td>         </tr>        <tr>          <td align="CENTER">          56</td>           <td align="CENTER">          25.0</td>           <td align="CENTER">          35.0</td>           <td align="CENTER">          45.0</td>           <td align="CENTER">          52.5</td>           <td align="CENTER">          65.0</td>         </tr>        <tr>          <td align="CENTER">          60</td>           <td align="CENTER">          27.5</td>           <td align="CENTER">          37.5</td>           <td align="CENTER">          47.5</td>           <td align="CENTER">          57.5</td>           <td align="CENTER">          70.0</td>         </tr>        <tr>          <td align="CENTER">          67</td>           <td align="CENTER">          30.0</td>           <td align="CENTER">          42.5</td>           <td align="CENTER">          55.0</td>           <td align="CENTER">          62.5</td>           <td align="CENTER">          77.5</td>         </tr>        <tr>          <td align="CENTER">          75</td>           <td align="CENTER">          32.5</td>           <td align="CENTER">          45.0</td>           <td align="CENTER">          57.5</td>           <td align="CENTER">          70.0</td>           <td align="CENTER">          85.0</td>         </tr>        <tr>          <td align="CENTER">          82</td>           <td align="CENTER">          35.0</td>           <td align="CENTER">          50.0</td>           <td align="CENTER">          62.5</td>           <td align="CENTER">          75.0</td>           <td align="CENTER">          100.0</td>         </tr>        <tr>          <td align="CENTER">          90</td>           <td align="CENTER">          37.5</td>           <td align="CENTER">          52.5</td>           <td align="CENTER">          65.0</td>           <td align="CENTER">          77.5</td>           <td align="CENTER">          105.0</td>         </tr>        <tr>          <td align="CENTER">          100</td>           <td align="CENTER">          40.0</td>           <td align="CENTER">          55.0</td>           <td align="CENTER">          70.0</td>           <td align="CENTER">          82.5</td>           <td align="CENTER">          115.0</td>         </tr>        <tr>          <td align="CENTER">          110</td>           <td align="CENTER">          42.5</td>           <td align="CENTER">          57.5</td>           <td align="CENTER">          72.5</td>           <td align="CENTER">          85.0</td>           <td align="CENTER">          120.0</td>         </tr>        <tr>          <td align="CENTER">          125</td>           <td align="CENTER">          42.5</td>           <td align="CENTER">          60.0</td>           <td align="CENTER">          75.0</td>           <td align="CENTER">          87.5</td>           <td align="CENTER">          122.5</td>         </tr>        <tr>          <td align="CENTER">          145</td>           <td align="CENTER">          45.0</td>           <td align="CENTER">          60.0</td>           <td align="CENTER">          75.0</td>           <td align="CENTER">          90.0</td>           <td align="CENTER">          125.0</td>         </tr>        <tr>          <td align="CENTER">          145+</td>           <td align="CENTER">          45.0</td>           <td align="CENTER">          62.5</td>           <td align="CENTER">          77.5</td>           <td align="CENTER">          92.5</td>           <td align="CENTER">          130.0</td>         </tr>      </tbody></table></center>
    <center>
        <table cellspacing="0" cellpadding="2" border="1">
            <tbody>
                <tr>
                    <td>
                        <center><i>Kilograms</i></center>
                    </td>
                    <td colspan="5">
                        <center><strong>Adult Women</strong></center>
                    </td>
                </tr>
                <tr>
                    <th width="20%" bgcolor="#ffaefd">Body Weight</th>
                    <th width="16%" bgcolor="#ffaefd">Untrained</th>
                    <th width="16%" bgcolor="#ffaefd">Novice</th>
                    <th width="16%" bgcolor="#ffaefd">Intermediate</th>
                    <th width="16%" bgcolor="#ffaefd">Advanced</th>
                    <th width="16%" bgcolor="#ffaefd">Elite</th>
                </tr>
                <tr>
                    <td align="CENTER">44</td>
                    <td width="16%" align="CENTER">15.0</td>
                    <td align="CENTER">17.5</td>
                    <td align="CENTER">22.5</td>
                    <td align="CENTER">30.0</td>
                    <td align="CENTER">40.0</td>
                </tr>
                <tr>
                    <td align="CENTER">48</td>
                    <td width="16%" align="CENTER">15.0</td>
                    <td align="CENTER">20.0</td>
                    <td align="CENTER">25.0</td>
                    <td align="CENTER">32.5</td>
                    <td align="CENTER">42.5</td>
                </tr>
                <tr>
                    <td align="CENTER">52</td>
                    <td width="16%" align="CENTER">17.5</td>
                    <td align="CENTER">22.5</td>
                    <td align="CENTER">27.5</td>
                    <td align="CENTER">35.0</td>
                    <td align="CENTER">45.0</td>
                </tr>
                <tr>
                    <td align="CENTER">56</td>
                    <td width="16%" align="CENTER">17.5</td>
                    <td align="CENTER">22.5</td>
                    <td align="CENTER">27.5</td>
                    <td align="CENTER">37.5</td>
                    <td align="CENTER">47.5</td>
                </tr>
                <tr>
                    <td align="CENTER">60</td>
                    <td width="16%" align="CENTER">17.5</td>
                    <td align="CENTER">25.0</td>
                    <td align="CENTER">30.0</td>
                    <td align="CENTER">40.0</td>
                    <td align="CENTER">50.0</td>
                </tr>
                <tr>
                    <td align="CENTER">67</td>
                    <td width="16%" align="CENTER">20.0</td>
                    <td align="CENTER">27.5</td>
                    <td align="CENTER">32.5</td>
                    <td align="CENTER">42.5</td>
                    <td align="CENTER">55.0</td>
                </tr>
                <tr>
                    <td align="CENTER">75</td>
                    <td width="16%" align="CENTER">22.5</td>
                    <td align="CENTER">30.0</td>
                    <td align="CENTER">35.0</td>
                    <td align="CENTER">47.5</td>
                    <td align="CENTER">62.5</td>
                </tr>
                <tr>
                    <td align="CENTER">82</td>
                    <td width="16%" align="CENTER">22.5</td>
                    <td align="CENTER">32.5</td>
                    <td align="CENTER">37.5</td>
                    <td align="CENTER">50.0</td>
                    <td align="CENTER">65.0</td>
                </tr>
                <tr>
                    <td align="CENTER">90</td>
                    <td width="16%" align="CENTER">25.0</td>
                    <td align="CENTER">35.0</td>
                    <td align="CENTER">40.0</td>
                    <td align="CENTER">52.5</td>
                    <td align="CENTER">67.5</td>
                </tr>
                <tr>
                    <td align="CENTER">90+</td>
                    <td width="16%" align="CENTER">27.5</td>
                    <td align="CENTER">37.5</td>
                    <td align="CENTER">42.5</td>
                    <td align="CENTER">57.5</td>
                    <td align="CENTER">72.5</td>
                </tr>
            </tbody>
        </table>
    </center>
</div>